.home1-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home1-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home1-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  padding-right: 4px;
  flex-direction: row;
}
.home1-logo {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-image {
  width: 140px;
  height: auto;
  object-fit: cover;
}
.home1-container01 {
  flex: 1;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.home1-menu {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
}
.home1-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home1-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.home1-logo1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-image1 {
  width: 100px;
  object-fit: cover;
}
.home1-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-icon {
  width: 24px;
  height: 24px;
}
.home1-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-text {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text:hover {
  color: var(--dl-color-turquoise-default);
}
.home1-text01 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text01:hover {
  color: var(--dl-color-turquoise-default);
}
.home1-text02 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.home1-text03 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text03:hover {
  color: var(--dl-color-turquoise-default);
}
.home1-text04 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home1-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.home1-text05 {
  transition: 0.3s;
}
.home1-text05:hover {
  color: var(--dl-color-turquoise-default);
}
.home1-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.home1-container02 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-link {
  display: contents;
}
.home1-container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home1-icon02 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.home1-icon02:hover {
  fill: var(--dl-color-purple-default);
}
.home1-link1 {
  display: contents;
}
.home1-container04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home1-icon04 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.home1-icon04:hover {
  fill: var(--dl-color-pink-default);
}
.home1-link2 {
  display: contents;
}
.home1-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home1-icon06 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.home1-icon06:hover {
  fill: var(--dl-color-turquoise-default);
}
.home1-link3 {
  display: contents;
}
.home1-container06 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home1-icon08 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.home1-icon08:hover {
  fill: var(--dl-color-orange-default);
}
.home1-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.home1-blur-background {
  top: -148px;
  right: -28px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
}
.home1-hero {
  width: 1799px;
  height: 674px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-text06 {
  width: 472px;
  font-size: 44px;
  font-family: "Inter";
  font-weight: 800;
  line-height: 1;
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: 2px;
  text-transform: none;
  text-decoration: none;
}
.home1-text14 {
  max-width: 500px;
  align-self: flex-start;
  text-align: left;
}
.home1-text16 {
  font-style: normal;
  font-weight: 700;
}
.home1-text20 {
  font-style: normal;
  font-weight: 700;
}
.home1-text21 {
  font-style: normal;
  font-weight: 700;
}
.home1-text22 {
  font-style: normal;
  font-weight: 700;
}
.home1-component {
  text-decoration: none;
}
.home1-image2 {
  width: 50%;
  height: auto;
  max-width: 400px;
  object-fit: cover;
}
.home1-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.6;
  position: absolute;
  object-fit: cover;
}
.home1-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.home1-features {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text27 {
  max-width: 500px;
  text-align: center;
}
.home1-features1 {
  height: 488px;
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-testimonials {
  width: 100%;
  height: 310px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 46px;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: 36px;
  justify-content: center;
  background-color: var(--dl-color-turquoise-100);
}
.home1-feature1 {
  width: 2135px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-self: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
.home1-container08 {
  flex: 0 0 auto;
  width: 540px;
  height: 237px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-image3 {
  width: 200px;
  object-fit: cover;
}
.home1-container09 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  text-align: right;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text30 {
  width: 100%;
  font-size: 32px;
  align-self: flex-end;
}
.home1-text31 {
  max-width: 400px;
  align-self: flex-end;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home1-container10 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  flex-wrap: wrap;
  max-width: 1100px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-feature11 {
  width: 100%;
  height: 334px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-container11 {
  flex: 0 0 auto;
  width: 540px;
  height: 257px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-image4 {
  width: 200px;
  object-fit: cover;
}
.home1-container12 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text32 {
  width: 100%;
  font-size: 32px;
}
.home1-text33 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home1-feature12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-self: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: center;
}
.home1-container13 {
  flex: 0 0 auto;
  width: 540px;
  height: 237px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-image5 {
  width: 200px;
  object-fit: cover;
}
.home1-container14 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  text-align: right;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text34 {
  width: 438px;
  font-size: 32px;
}
.home1-text35 {
  max-width: 400px;
  align-self: flex-end;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home1-feature13 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-container15 {
  flex: 0 0 auto;
  width: 540px;
  height: 237px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home1-image6 {
  width: 200px;
  object-fit: cover;
}
.home1-container16 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-text36 {
  font-size: 32px;
}
.home1-text37 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home1-feature2 {
  width: 100%;
  height: 73px;
  display: flex;
  z-index: 100;
  max-width: 1110px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: center;
}
.home1-container17 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home1-text38 {
  width: 294px;
  height: 59px;
  font-size: 34px;
  text-align: center;
}
.home1-container18 {
  width: 100%;
  height: 82px;
  display: flex;
  margin-top: 30px;
  align-items: center;
  margin-bottom: 118px;
  justify-content: center;
}
.home1-link4 {
  color: var(--dl-color-gray-white);
  width: 300px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  border-width: 0px;
  margin-right: 50px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: #8c30f5;
}
.home1-link5 {
  color: var(--dl-color-gray-white);
  width: 300px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
  margin-left: 50px;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  text-decoration: none;
  background-color: var(--dl-color-orange-800);
}
.home1-footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home1-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.home1-image7 {
  width: 200px;
  object-fit: cover;
}
.home1-divider {
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background-color: var(--dl-color-gray-white);
}
.home1-container20 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home1-text39 {
  color: var(--dl-color-gray-300);
  margin-top: var(--dl-space-space-unit);
}
.home1-container21 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-link6 {
  display: contents;
}
.home1-container22 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.home1-icon10 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.home1-icon10:hover {
  fill: var(--dl-color-purple-default);
}
.home1-link7 {
  display: contents;
}
.home1-container23 {
  cursor: pointer;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  padding-bottom: 0.5rem;
  text-decoration: none;
  background-color: var(--dl-color-gray-900);
}
.home1-icon12 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
}
@media(max-width: 991px) {
  .home1-hero {
    height: auto;
    flex-direction: column;
  }
  .home1-container07 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .home1-text06 {
    text-align: center;
  }
  .home1-text14 {
    align-self: center;
    text-align: center;
  }
  .home1-features {
    height: 1019px;
  }
  .home1-testimonials {
    height: 684px;
  }
  .home1-feature1 {
    height: 627px;
    flex-direction: column;
  }
  .home1-container09 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home1-container10 {
    flex-direction: column;
  }
  .home1-feature11 {
    flex-direction: column;
  }
  .home1-container12 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home1-feature12 {
    flex-direction: column;
  }
  .home1-container14 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .home1-feature13 {
    flex-direction: column;
  }
  .home1-container16 {
    width: 415px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home1-container17 {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .home1-menu {
    display: none;
  }
  .home1-text06 {
    font-size: 40px;
    text-align: center;
  }
  .home1-features {
    height: 925px;
  }
  .home1-text26 {
    font-size: 40px;
  }
  .home1-testimonials {
    height: 667px;
  }
  .home1-container20 {
    flex-direction: column;
  }
  .home1-text39 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home1-header {
    padding-right: 28px;
  }
  .home1-container01 {
    height: 50px;
  }
  .home1-bot {
    width: 100%;
  }
  .home1-text06 {
    color: var(--dl-color-gray-900);
    width: 417px;
    height: 157px;
    font-size: 44px;
    font-family: Inter;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 7px;
    text-transform: none;
    text-decoration: none;
  }
  .home1-text14 {
    align-self: center;
    text-align: center;
  }
  .home1-text16 {
    font-style: normal;
    font-weight: 700;
  }
  .home1-text21 {
    font-style: normal;
    font-weight: 700;
  }
  .home1-image2 {
    width: 400px;
  }
  .home1-features {
    height: 1493px;
  }
  .home1-text26 {
    text-align: center;
  }
  .home1-text27 {
    text-align: center;
  }
  .home1-testimonials {
    height: 492px;
    background-color: White (Gray);
  }
  .home1-feature1 {
    height: 480px;
  }
  .home1-container09 {
    text-align: center;
  }
  .home1-container11 {
    height: 233px;
    margin-top: 167px;
  }
  .home1-container12 {
    text-align: center;
  }
  .home1-feature12 {
    height: 466px;
  }
  .home1-container13 {
    height: 148px;
    margin-top: 235px;
  }
  .home1-image5 {
    margin-bottom: 0px;
  }
  .home1-container14 {
    text-align: center;
  }
  .home1-text35 {
    align-self: center;
  }
  .home1-container16 {
    text-align: center;
  }
  .home1-text36 {
    font-size: 32px;
  }
  .home1-text38 {
    width: 479px;
  }
  .home1-container18 {
    width: 434px;
    margin-left: 26px;
    margin-right: 20px;
  }
}
